apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    meta.helm.sh/release-name: social-network
    meta.helm.sh/release-namespace: social-network
  labels:
    app.kubernetes.io/managed-by: Helm
    service: home-timeline-redis
  name: home-timeline-redis
  namespace: social-network
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      service: home-timeline-redis
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9121"
        prometheus.io/path: "/metrics"
      labels:
        app: home-timeline-redis
        service: home-timeline-redis
    spec:
      containers:
      - args:
        - /social-network-microservices/config/redis.conf
        image: docker.io/library/redis:6.2.4
        imagePullPolicy: IfNotPresent
        name: home-timeline-redis
        ports:
        - containerPort: 6379
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /social-network-microservices/config/redis.conf
          name: home-timeline-redis-config
          subPath: redis.conf
      - name: redis-exporter
        image: oliver006/redis_exporter:v1.48.0
        imagePullPolicy: IfNotPresent
        env:
        - name: REDIS_ADDR
          value: "127.0.0.1:6379"
        ports:
        - containerPort: 9121
          name: metrics
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
      dnsPolicy: ClusterFirst
      hostname: home-timeline-redis
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: home-timeline-redis
        name: home-timeline-redis-config

